body {
    background-color: rgb(255, 144, 144);
}

h1 {
    font-family: Arial;
    font-style: normal;
    font-size: 4.5em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

h2 {
    margin-left: 50px;
    font-family: Helvetica;
    font-size: 3em;
    font-weight: bold;
    color: rgb(20, 8, 8);
    text-align: justify;
    background-color: antiquewhite;
}

img {
    width: 800px;
    margin-left: 60px;
    text-align: justify;
}

a {
    font-weight: bold;
    color: red;
}

p {
    font-family: monospace;
    font-size: 30px;
    color: black;
    text-align: justify;
    margin-left: 30px;
    margin-right: 20px;
}

h3 {
    margin-left: 50px;
    font-family: Helvetica;
    font-size: 3em;
    font-weight: bold;
    color: rgb(20, 8, 8);
    text-align: justify;
    background-color: antiquewhite;
}

button {
    font-size: 30px;
    font-family: Impact;
    text-align: justify;
    margin-left: 50px;
}

h4 {
    margin-left: 50px;
    font-family: Helvetica;
    font-size: 3em;
    font-weight: bold;
    color: rgb(20, 8, 8);
    text-align: justify;
    background-color: antiquewhite;
}